@import '../../shared/colors.scss';

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;

    li {
        display: inline-block;
        margin: 15px 30px;

        a {
            text-decoration: none;
            line-height: 0.9em;
            color: $text-light-color;
            display: block;
            white-space: nowrap;
            font-size: 1.1em;

            &.active {
                color: $text-dark-color;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            }

            span {
                display: block;
                font-size: .6em;
                letter-spacing: 1px;
            }
        }
    }
}