$text-dark-color: #414141;
$text-light-color: #a5a5a5;
$blue: #0385b5;

$gray: #aaa;
$gray-dark: #222;
$red: #d30202;
$red-dark: #a10b0b;
$orange: rgb(228, 149, 2);
$orange-dark: rgb(173, 115, 6);
$green: #048304;
$green-dark: #0c4d0c;