:host {
    white-space: nowrap;
    overflow: hidden;
}

app-movies {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100vw;
    transition: margin-left 1s ease, margin-right 1s ease;
}